/* -------------------------------------- */
/* Styles pour toutes les tailles d'écran */
/* -------------------------------------- */
html {
  background-color: #000000;
}

header {
  display: flex;
  justify-content: center;
  align-items: right;
  width: 100%;
  margin: 0px auto;
}

body {
  background: linear-gradient(to top, #262626, #161616);
  /* background: linear-gradient(to bottom, #171717, #060606); */
  font-family: Nunito;
  min-height: 100vh;
  color: #ccc;
  transition: all 0.2s;
  box-sizing: border-box;
  margin: 0;
  /* padding-top: 10px; */
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
}

h1 {
  /* color: #f6f0dd; */
  font-family: Lobster;
  font-size: 45px;
  margin: 0px;
  margin-bottom: 10px;
  background: linear-gradient(to top, #f6f0dd, #d6c278 90%);
  color: transparent;
  background-clip: text;
  line-height: 70px;
}

/* img sizing class */
.small {
  width: 30%;
}
/* table size modifier */
.smallTable{
width: 60%;
}
/* Effet sur les liens au survol */
.link-category:hover,
.link-home:hover {
  color: #1b1b1b;
  /* Changement de couleur au survol */
  background-color: #d7c378;
  /* Changement de fond au survol */
}

.link-home {
  display: flex;
  width: 350px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 25px;
  background-color: #1b1b1b;
  font-size: 18px;
  color: #d7c378;
  padding: 15px;
  transition: color 0.3s ease, background-color 0.3s ease;
  /* Transition pour un effet de survol en douceur */
}

/* Styles pour les tableaux */
/* ------------------------ */
.table-container {
  /* display: grid; */
  /* max-height: 200px; */
  overflow-y: auto;
  width: 80%;
  height: 30vh;
  flex-grow: 1;
  flex-direction: column;
  margin-bottom: 30px;
  justify-content: center;
  scrollbar-width: thin;
  scrollbar-color: #ffe791 #000000;
  box-shadow: 0 0 7px #111111;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;

}

/* Style pour les en-têtes de colonnes */
th {
  /* background:linear-gradient(to top,  #f5e9c0,  #d7c378); */
  /* color: #1b1b1b; */
  padding: 10px;
  text-align: left;
  font-family: LobsterTwo;
  font-size: 22px;
  font-weight: 700;
  text-shadow: none;
  /* box-shadow: 0 10px 15px -10px rgb(0, 0, 0); */
  position:sticky;
  /* height: 50px; */
  top: 0;
  color: #ffe791;
  box-shadow: 0 10px 15px 0.1px rgba(0, 0, 0, 0.42);
  background-color: #181818;
  text-align: center;
}


/* Style pour les cellules du tableau */
td {
  /* border: 1px solid #ddd; */
  padding: 10px;
}

tr {
  background-color: #303030;
  font-size: 18px;
  color: #d7d2c0;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.451);
  text-shadow: 0 0 2px rgba(255, 232, 168, 0.273);
}

/* Style pour les lignes impaires du tableau */
tr:nth-child(odd) {
  background-color: #141414;
}

/* Propriétés du footer */
footer {
  display: flex;
  justify-content: center;
  align-content: center;
  /*Aligns content center*/
  height: 7.9vh;
  background: linear-gradient(to bottom, #171717, #060606);
  border-top: #fffcef 3px solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 0 5vw;
  background-image: url('../img/Background.png');
  /* Replace 'your-image.jpg' with the path to your image */
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  bottom: 0px;
  animation: moveBackground 15s infinite ease alternate;
}

@keyframes moveBackground {
  0% {
    background-position-y: -80px;
  }

  100% {
    background-position-y: -600px;
  }
}

/* Link element styling */
footer a {
  text-decoration: none;
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*Aligns content center*/
  margin: 10px 3vw;
  font-family: LobsterTwo;
  font-size: 23px;
  font-weight: bold;
  color: #fff4cd;
  box-shadow: inset 0 0 7px #413a215c;
  text-shadow: 0 0 70px rgb(0, 0, 0);
  /* color: #8c7936; */
  /* text-shadow: 0 0 7px #ffffff48; */
  /* box-shadow: inset 0 0 7px #413a2121; */
  border-radius: 5rem;
  transition: all 0.3s ease-out;
  /* border-right: #ffffff24 3px solid; */
  box-sizing: border-box;
}

footer a:hover {
  color: #d6c278;
  box-shadow: inset 0 0 100px #000000, 0 0 2px black;
  text-shadow: 0 0 70px rgb(188, 188, 188);
}

/* Styles pour les formulaires */
/* --------------------------- */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

form {
  width: 80%;
  max-width: 400px;
  /* Largeur maximale du formulaire */
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #1b1b1b;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #1b1b1b;
  color: #d7c378;
  cursor: pointer;
  transition: all 0.3s ease-out;
  /* Transition pour un effet de survol en douceur */
}

input[type="submit"]:hover {
  background-color: #d7c378;
  color: #1b1b1b;
}

/* Style pour les images */
/* --------------------- */
figure {
  display: flex;
  height: max-content;
  align-content: center;
  text-align: center;
  box-sizing: border-box;
  /* margin: auto 0px; */
  flex-direction: column;
}

img {
  margin: 0px auto;
  width: 85%;
  max-width: 460px;
  box-sizing: border-box;
}

/* ------------------------------ */
/* Styles pour la version desktop */
/* ------------------------------ */
@media screen and (min-width: 1025px) {

  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    font-size: 24px;
    box-sizing: border-box;
    margin: 10px;
  }

  nav li {
    width: auto;
    /* Largeur fixe pour chaque élément du menu */
    margin: 0px 20px;
    font-family: Lobster;
    box-shadow: 0px 0px 10px #060606;
    border-radius: 6px;
    transition: all 0.2s ease;
    box-sizing: border-box;
  }

  nav a {
    display: block;
    text-decoration: none;
    color: #d7c378;
    background-color: #1b1b1b;
    /* Fond du menu */
    padding: 15px;
    text-align: center;
    transition: all 0.3s ease-out;
    /* Transition pour un effet de survol en douceur */
    border-radius: 6px;
    box-sizing: border-box;
    border: 2px solid #00000000;
    cursor: pointer;
  }

  nav a:hover {
    color: #d7c378;
    background-color: #1b1b1b;
    border: 2px solid #d7c278a4;
    cursor: default;
    box-shadow: inset 0 0 7px rgba(255, 223, 126, 0.45);
    transition: all 0.2s;
    cursor: pointer;
  }

  /* class current used to highlight current page li */
  .current {
    color: #1b1b1b;
    box-shadow: inset 0 0 50px #d7c378;
    background: #d7c278bc;
  }

  .current:hover {
    color: #d7c278b9;
    background-color: #1b1b1b;
  }

  li:active {
    scale: 95%;
  }

  /* Affichage des données de l'utilisateur */
  .info-login {
    margin: 50px auto;
    text-align: center;
    font-size: 2vw;
  }

  /* Conteneur du <main> conteant les catégories utilisant flexbox */
  /* ------------------------------------------------------------- */
  .category-site {
    display: flex;
    justify-content: space-around;
    /* Répartir les éléments de manière égale sur l'axe principal */
    width: 90%;
    margin: auto;
    /* Centrer le conteneur sur la page */
    flex-wrap: wrap;
  }

  /* Styles pour les liens donnant l'impression d'être des boutons */
  /* ------------------------------------------------------------- */
  .link-category {
    display: flex;
    width: 40%;
    height: 150px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 25px;
    margin: 50px auto;
    background-color: #1b1b1b;
    font-size: 3vw;
    color: #d7c378;
    transition: color 0.3s ease, background-color 0.3s ease;
    /* Transition pour un effet de survol en douceur */
  }

  /* Effet sur les liens au survol */
  .link-category:hover {
    color: #1b1b1b;
    /* Changement de couleur au survol */
    background-color: #d7c378;
    /* Changement de fond au survol */
  }


}


@font-face {
  font-family: Syne;
  src: url(./fonts/Syne-VariableFont_wght.ttf);
}

@font-face {
  font-family: Nunito;
  src: url(./fonts/Nunito-VariableFont_wght.ttf);
}

@font-face {
  font-family: Lobster;
  src: url(./fonts/Lobster-Regular.ttf);
}

@font-face {
  font-family: LobsterTwo;
  src: url(./fonts/LobsterTwo-Regular.ttf);
}